body{
    margin: 0 auto;
    padding: 0px;
    display: grid;
    width: 80%;
    background-color: burlywood;
    max-width: 1200px;
    min-width: 600px;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 250px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:    "header header header header header header" "nav nav nav nav nav nav " "main main main main main aside" "footer footer footer footer footer footer";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid black;
}
header{
    background-color: gray;
    text-align: center;
    grid-area: header;
    height: 100px;
}
nav{
    background-color: blue;
    grid-area: nav;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
}
nav a{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    font-size: 1rem;
    border: 1px solid black;
    padding: 0 10px;
    text-decoration: none;
}
nav ul{
    height: 100%;
    background-color: aqua;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav li{
    list-style-type: none;
}

nav li:last-child{
    margin-left: auto;
}
main{
    background-color: lightcoral;
    grid-area: main;
}

article{
    background-color: lightgreen;
    padding: 10px;

}

aside{
    background-color: lightblue;
    grid-area: aside;
    width: 100%;
}

section{
    background-color: lightseagreen;

}

footer{
    background-color: gray;
    grid-area: footer;
    height: 100px;
}
.sticky{
    position: sticky;
    top: 50px;  
}
figure{
    padding: 0px;
    margin: 0px; 
}

p{
    font-size: 0.875rem;
}

h1{
    font-size: 1.5rem;
}
h4{
    font-size: 1rem;
    font-style: italic;

}

@media (max-width: 600px) {
    aside{
        display: none;
    }
    body{
        grid-template-areas:    "header header header header header header" "nav nav nav nav nav nav" "main main main main main main" "footer footer footer footer footer footer";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
    }
    
}